html,body
{
    padding: 0;
    margin: 0;
    background-color: #f5f5f5;
    height: 100vh;
    width: 98vw;
    position: relative;
    font-family: sans-serif;
    font-size: 1rem;
}
/*-------------Header-------------*/
header
{
    height: 10%;
    width: 100%;
    background-color: #fafafa;
    position: fixed;
    top: 0px;
}
.menu
{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

/*-------------Botões hearder à esquerda-------------*/
.contents-left
{
    width: 13%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.button-header
{
    width: 35px;
    height: 35px;
    border: none;
    background-color: transparent;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}
.button-header:hover
{
    background-color: #dfdddd;
    border-radius: 50%;
    cursor: pointer;
}
#button-menu
{
    background-image: url(assets/images/menu.png);
    background-size: 24px 24px;  
}

/*-------------Barra de pesquisa-------------*/
.contents-center
{
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
}
#input-search
{
    width: 55%;
    height: 65%;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    border: solid 1px #dfdddd;
}
#input-search::placeholder
{
    position: relative;
    left: 20px;
    font-weight: 500;
}
#button-search
{
    background-image: url(assets/images/search.png);
    background-repeat: no-repeat;
    background-position: center;
    background-color: #fafafa;
    width: 7%;
    height: 65%;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    border-left: 1px;
    border: solid 1px #dfdddd;
    cursor: pointer;
}

/*-------------Botões hearder à direita-------------*/
.contents-right
{
    width: 15%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
#button-video
{
    background-image: url(assets/images/video.png);
    background-size: 24px 24px;
}
#button-bell
{
    background-image: url(assets/images/bell.png);
    background-size: 24px 24px;
}
#button-profile
{
    background-image: url(assets/images/foto.jpg);
    background-color: antiquewhite;
    background-size: cover;
    background-position: center;
    border-radius: 50%;
    height: 30px;
    width: 30px;
}

/*-------------Main/-------------*/
main
{
    height: 100vh;
    display: flex;
    margin-top: 4.3%;
    justify-content: center;
}

/*-------------Video principal-------------*/
.contents-principal
{
    background-color: aqua;
    height: 100%;
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
iframe
{
    width: 90%;
    margin-top: 4%;
    border-radius: 10px;
}
.contents-info-video-principal
{
    background-color: #817fff;
    width: 90%;
    height: 20%;
    margin-top: 1%;
}
#title-video-principal
{
    font-size: 1.2rem;
    font-weight: 600;
    position: relative;
    margin-top: 1%;

}
.info-videos
{
    display: flex;
    flex-direction:row ;
    align-items: center;
    justify-content: space-around;
}
.info-channel
{
    background-color: #b90606;
    width: 30%;
    height: 75px;
}
#subscribe
{
    border-radius: 25px;
    height: 35px;
    width: 100px;
    background-color: #fcfbfb;
    cursor: pointer;
    border: none;
}
#like
{
    background-image: url(./assets/images/thumbs-up.png);
    background-repeat: no-repeat;
    background-color: #fcfbfb;
    background-size: 20px;
    background-position: 10px, center;
    height: 35px;
    width: 85px;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;    
    cursor: pointer;
    border: none;
    border-right: solid 1px #000000;
}
#span-like
{
    position: relative;
    margin-left: 20px;
}
#dislike
{
    background-image: url(./assets/images/thumbs-down.png);
    background-repeat: no-repeat;
    background-color: #fcfbfb;
    background-size: 20px;
    background-position: center;
    height: 35px;
    width: 50px;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    cursor: pointer;
    border: none;
    margin-left: -5px;
}
#share
{
    background-image: url(./assets/images/share-2.png);
    background-repeat: no-repeat;
    background-color: #fcfbfb;
    background-size: 20px;
    background-position: 10px, center;
    height: 35px;
    width: 120px;
    border-radius: 25px;
    border: none;
    cursor: pointer;
}
#span-share
{
    position: relative;
    margin-left: 20px;
}
#download
{
    background-image: url(./assets/images/download.png);
    background-repeat: no-repeat;
    background-color: #fcfbfb;
    background-size: 20px;
    background-position: 10px, center;
    height: 35px;
    width: 120px;
    border-radius: 25px;
    border: none;
    cursor: pointer;
}
#span-download
{
    position: relative;
    margin-left: 20px;
}

/*-------------Videos relacionados-------------*/
.contents-related-videos
{
    background-color: rgb(51, 255, 0);
    height: 100%;
    width: 30%;
}